.main{
    width: 1450px;
    height: 100vh;
    margin: 20px;
    box-shadow: 0 0 10px 15px rgb(230, 223, 223);
    background: linear-gradient(60deg, rgb(103, 103, 241), rgb(153, 190, 199),rgb(236, 114, 245), rgb(139, 224, 235));
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.div0 h1{
    align-items: center;
    text-align: center;
    color: rgb(184, 7, 7);
    height: 30px;
    width: 100%;
    /* border: 1px solid red; */
}
.maindiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div1{
    height: 630px;
    /* border: 1px solid green; */
    width: 30%;
    text-align: center;
}
.about{
    height: 200px;
    width: 300px;
    box-shadow: 0 0 15px 9px rgb(216, 216, 250);
    margin-left: 55px;
}
.about h2{
    text-align: center;
    color: rgb(254, 8, 250);
    padding: 5px;
}
.about p{
    text-align: justify;
    padding: 5px;
    
}
.contact{
    height: 150px;
    width: 280px;
    margin-left: 55px;
    box-shadow: 0 0 15px 9px rgb(216, 216, 250);
    padding: 10px;
    margin-top: 40px;
    
}
.contact h2{
    text-align: center;
    color: rgb(254, 8, 250);
}
.contact i{
    font-size: 40px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    color: rgb(4, 33, 255);
}
.div2{
    height: 630px;
    width: 30%;
}
.cv{
    margin-top: 80px;
    margin-right: 15px;
}
.cv button{
    height: 50px;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(8, 27, 246);
    box-shadow: 0 0 15px 8px rgb(188, 188, 222);
    background: linear-gradient(to right, rgb(103, 255, 103), rgb(253, 129, 129),rgb(241, 49, 238));
}
.cv button a{
    text-decoration: none;
}
.cv button:hover{
    color: rgb(0, 221, 255);
    background: linear-gradient(to right, rgb(241, 49, 238), rgb(253, 129, 129),rgb(103, 255, 103));
}
.image{
    box-shadow: 0 0 15px 8px rgb(216, 216, 250);
}
.image img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
    margin-left: 70px;
    box-shadow: 0 0 15px 9px rgb(221, 150, 215);
}
.skill{
    height: 325px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    box-shadow: 0 0 15px 9px rgb(216, 216, 250);

}
.skill h2{
    color: rgb(254, 8, 250);
}
progress{
    width: 70%;
}
.div3-1, .div3-2{
    display: flex;
    margin: 30px;
}
.div3{
    height: 630px;
    width: 30%;
    background-color: aliceblue;
}
.div3 h2{
    text-align: center;
    color: rgb(251, 4, 218);
}
.web, .mo-app, .web-app, .app{
    height: 150px;
    width: 150px;
    box-shadow: 4px 4px 4px 4px #cbced1, 
    -4px -4px 4px 4px white;
    margin-left: 30px;
    padding: 5px;
}
.web h5, .app h5, .mo-app h5, .web-app h5{
    text-align: center;
    color: rgb(0, 21, 251);
    font-family: Arial, Helvetica, sans-serif;
}

.web i{
    color: rgb(10, 30, 255);
    font-size: 35px;
    margin-left: 55px;
}
.app i, .mo-app i, .web-app i{
    color: rgb(10, 30, 255);
    font-size: 40px;
    margin-left: 55px;
}
.div-button{
    text-align: center;
    margin-top: 100px;
}
.div-button button{
    border-radius: 15px;
    height: 50px;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    box-shadow: 4px 4px 4px 4px #cbced1, 
    -4px -4px 4px 4px white;
    background: linear-gradient(to right, rgb(200, 64, 191), rgb(205, 170, 170),rgb(79, 108, 197));
}
.div-button button:hover{
    color: aqua;
    background: linear-gradient(to right,rgb(79, 108, 197), rgb(205, 170, 170),rgb(200, 64, 191));
    box-shadow: 0 0 12px 20px rgb(255, 252, 252);
}
